ahla mando
<td>
    {% for etudiant in etudiants %}
      <li>{{ etudiant.id	 }}</li>
      <li>{{ etudiant.nom }}</li>
      <li>{{ etudiant.prenom }}</li>
      <li>{{ etudiant.clase }}</li>
    {% endfor %}
</td>